<div class="mt-4"></div>
    <h3>Update Course</h3>

    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name" >
        </div>

        <div class="form-group">
            <label for="discription">Discription</label>
            <input type="text" class="form-control" value="{{course.discription}}" id="discription" name="discription" >
        </div>


        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" value="{{course.image}}" id="image" name="image" >
        </div>

        <div class="form-group">
            <label for="image">Slug</label>
            <input type="text" class="form-control" value="{{course.slug}}" id="slug" name="slug" >
        </div>
    
        <button type="submit" class="btn btn-primary">Save</button>
    </form>


</div>